*~
_*
*.o
*.d
*.asm
*.sym
*.img
vectors.S
bootblock
entryother
initcode
initcode.out
kernelmemfs
mkfs
bootloader/bootloader
kernel/kernel*
recovery/recovery*
user/usys.S
.gdbinit
.vscode
/measurements.h
/bootloader/measurements.h
